{% include 'parts/header.html' %}
{% include 'parts/navigation.html' %}

<div class="page" id="story">
    <hr>
    <h1 class="storyTitle">Our Story</h1>

    <div class="item" data-aos="fade-left">
        <img class="storyImage" src="{{ url_for('static', filename='images/image_6.jpg') }}">
        <p class="storyText">We first met just over 8 years ago at a joint friends birthday party. It was a fancy dress party and I was a cow girl whilst Ryan was “dash” from the incredible. Needless to say, our first date was just as youthful – we went to the cinema to watch Wreck it Ralph (we have since watched the second one also however there was no cinema date this time). Throughout the 8 years, we have endured university, experienced different cultures and countries, and moved houses more times than we would like to admit.</p>
    </div>

    <div class="item" data-aos="fade-right">
        <p class="storyText">One of my favourite memories of our lives together so far, is picking up our little dog (who is completely spoilt – by Ryan and not just myself by the way) which created a different dynamic within our relationship. The three of us, have since spent every week possible, minus the lockdowns, in our van exploring different parts of the United Kingdom.</p>
        <img class="storyImage" src="{{ url_for('static', filename='images/image_7.jpg') }}">
    </div>

    <div class="item" data-aos="zoom-in">
        <img class="storyImage" src="{{ url_for('static', filename='images/image_8.jpg') }}">
        <p class="storyText">Aside from our holiday in Thailand, which was amazing and we both thoroughly enjoyed (Yes I did only get to spend half a day on the beach in the whole month we were out there), we enjoy exploring in our van, come rain or shine, we wouldn’t miss a chance to be out in our van. We have both admitted that we wished we had found our love for van life earlier as we would have saved so much not renting and living full time in a van instead.</p>
    </div>

    <div class="item" data-aos="flip-right">
        <p class="storyText">It did take Ryan 7 years to ask me the ultimate question, however with a house and dog, there was no more excuses he could possibly use. We did enjoy a week in the Lake District to celebrate afterwards which is one of our many favourite places. I am looking forward to going somewhere new for our honey moon and experiencing somewhere different as we start our lives together.</p>
        <img class="storyImage" src="{{ url_for('static', filename='images/image_9.jpg') }}">
    </div>

    <div class="item" data-aos="slide-up">
        <p class="storyFinal">8 Years later, and I am about to become Mrs Lambert. I cannot wait to see what is install for our future lives together, and we are so lucky you are able to celebrate with us as we start our new lives together as Husband and Wife...</p>
    </div>

</div>
{% include 'parts/footer.html' %}